/* =============
    Typography
============= */

// font-family: 'Bad Script', cursive;
// font-family: 'Caveat', cursive;
// font-family: 'Rubik', sans-serif;

// body{
//     font-family: 'Rubik', sans-serif;
    
// }

h1,h2,h3,h4{
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    color: $white;
}

h5{
    font-family: 'Caveat', cursive;
    margin: 0;
    padding: 0;
    color: $bright-yellow;
    font-size: rem-calc(40);
}

p{
    margin: 0;
    padding: 0;
    line-height: rem-calc(30);
    font-family: 'Rubik', sans-serif;
    color: #515151;
}

#opening-tag{
    
    font-size: rem-calc(16.5);

    @include md{
        font-size: rem-calc(30);
    }

    @include lg{
        font-size: rem-calc(35);
    }

    @include xl{
        font-size: rem-calc(35);
    }

}

