/* =============
    404 Page
============= */

#content {

    background-color: $background-yellow;
    // #B1DFFC
    // #87CEFA
    padding-top: 10px;

    #open-lemon {

        svg {
            width: 100%;
        }

        position: absolute;
        z-index: 1;
        margin: 0px 6px;
        height: 360px;
        width: 360px;

        @include md{
            height: 700px;
            width: 700px;
            margin: 0px 30px;
        }

        @include lg {
            // left: 500px;
            top: 40px;
            margin-left: 20%;
            height: 800px;
            width: 800px;
            // border: 1px solid red;

        }
    }

    #opening-tag {
        position: relative;
        text-align: center;
        margin-top: 27px;
        z-index: 30;

        @include md{
            margin-top: 100px;
        }
        @include lg{
            margin-top: 160px;
        }

    }

    #other-links {
        text-align: center;
        position: relative;
        color: $dark-gray;
        font-size: rem-calc(18);
        z-index: 30;
        padding-top: 80px;
        padding-bottom: 0px;

        @include md{
            padding-top: 120px;
        }

        @include lg{
            padding-top: 150px;
        }

        p:nth-child(2) {

            a:link,
            a:visited {
                transition: 0.25s;
                color: $bright-green;
                text-decoration: none;
            }

            a:hover,
            a:active {
                color: $dark-gray;
                text-decoration: none;
            }

        }
    }

    #scroll-down {
        text-align: center;

    }

    #down-arrow {
        font-size: rem-calc(30);
    }

    #child {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;

        @include md{
            width: 450px;
        }

        @include lg {
            // height: 50%;
            // border-bottom: 10px $light-green solid;
        }

    }

    #sun {
        overflow: hidden;
        margin-left: auto;
        display: block;

        padding-right: 23px;
        width: 250px;

        @include md {
            padding-right: 80px;
            width: 350px;
        }

        @include lg {
            padding: 100px 200px 150px 0px;
            width: 500px;
        }
    }

    #lemons {
        
        display: inline-block;
        margin: 0 auto;

        margin-bottom: 50px;

        @include lg{
            margin-bottom: 200px;
        }
        

        #lemon1 {
            height: 100px;
            width: 100px;
            padding: 40px;
            margin-bottom: 50px;
            margin-left: 10vw;

            svg {
                width: 100%;
            }

            @include md{
                height: 180px;
                width: 180px;
                padding: 40px;
                margin-bottom: 80px;
                margin-left: 30vw;
            }

            @include lg {
                height: 200px;
                width: 200px;
                // border: 1px solid red;
                padding: 40px;
                margin-bottom: 50px;
                margin-left: 30vw;
            }

        }

        #lemon2 {
            height: 130px;
            width: 130px;
            padding: 40px;
            margin-bottom: 50px;
            margin-left: 40vw;


            svg {
                width: 100%;
            }

            @include md{
                height: 200px;
                width: 200px;
                padding: 40px;
                margin-bottom: 80px;
                margin-left: 10vw;
            }

            @include lg {
                height: 250px;
                width: 250px;
                // border: 1px solid red;
                padding: 40px;
                margin-bottom: 50px;
                margin-left: 50vw;
            }

        }

        #lemon3 {

            height: 150px;
            width: 150px;
            padding: 40px;
            margin-left: 15vw;

            @include md{
                height: 200px;
                width: 200px;
                padding: 40px;
                margin-bottom: 80px;
                margin-left: 40vw;
            }

            @include lg {
                height: 220px;
                width: 220px;
                // border: 1px solid red;
                padding: 40px;
                margin-left: 30vw;

                svg {
                    width: 100%;
                }


            }

        }

    }

    #story-text {
        overflow: hidden;
        border: red 2px solid;

        p{
            background-color: $white;
            font-size: rem-calc(25);
            font-family: 'Caveat', cursive;
            padding: 10px;
            border-radius: 25px;     
            border: solid 2px $dark-gray;

            margin: 100px 0px;

            @include md{
                width: 200px;
                border: none;
            }

            @include lg{
                font-size: rem-calc(30);
                width: 170px;
            }
        }
        
        .story-left {
            text-align: left;
           
            // padding-left: 200px;

            margin-left: 100px;

            @include md{
                margin-left: 100px;
            }

            @include lg{
                margin-left: 200px;
            }

        }

        .story-right {
            text-align: right;

            margin-left: 50px;
    
            @include md{
                margin-left: 500px;
            }

            @include lg{
                margin-left: 1000px;
                margin-left: 100px;
            margin-top: 400px;
            }
            
            
        }

    
        
        #part1L{
            width: 190px;

            @include lg{
                width: 210px;
                padding-left: 20px;
            }
            
            
        }
        
        #part1R{
            width: 120px;
            @include lg{
                width: 130px;
                padding-right: 20px;
            }
            
            
        }

        #part2L{
            width: 70px;
            @include lg{
                width: 90px;
                padding-left: 20px;
            }
            
            
        }

        #part2R{
            width: 80px;
            @include lg{
                width: 100px;
                padding-right: 20px;
            }
           
            
        }

        #part3L{
            width: 90px;
            @include lg{
                width: 120px;
                padding-left: 20px;
            }
            
           
        }

        #part3R{
            width: 110px;
            @include lg{
                width: 130px;
                padding-right: 20px;
            } 
        }

        #part4L{
            width: 190px;
        }
        #part1,
        #part2,
        #part3 {
            padding-bottom: 0px;
            @include lg{ padding-bottom: 300px;}
           
        }

        #stand-hours {
            text-align: center;
            display: relative;
            z-index: 20;
            margin-top: 262px;

            padding: 150px 0px 140px 0px;
            background-color: $background-yellow;

        }
    }

}